.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

.dropdown {
  width: 200px;
}
.dropdown .input-container {
  position: relative;
}
.dropdown input {
  border: 1px solid #eeeeee;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  box-sizing: border-box;
}
.dropdown .input-container::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0.125em 0.125em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  top: 1em;
  right: 0.5em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}
.options {
  padding: 0;
  margin: 0;
  border: solid 1px #eeeeee;
  border-top: none;
  list-style: none;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
